h1, h2 {
  font-family: "impact";
  font-color: white;
  font-weight: bold;
  text-align: center;
}


body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27d90765290819.5aef9188431e5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* https://stackblitz.com/files/csgame/github/13ilaurente/csgame/master/assests/forest-background.png */
/* https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27d90765290819.5aef9188431e5.jpg */