h1, h2 {
  font-family: "impact";
  color: white;
  font-weight: bold;
  text-align: center;
}


body {
  background-image: url("https://wallpapercave.com/wp/wp1934001.png");
  background-size: cover;
  background-repeat: no-repeat;
}

